.page{
    /* Réglages généraux pour toute la page */
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    padding-left: 55px;
    background-color: white;
    overflow-x: hidden;
}
.logo_booki img{
    height: 19px;
    width: 61px;
    overflow:hidden;
}
.header{
    /* Le logo est placé sur la gauche tandis que les boutons de navigation sont tout deux situés sur la droite. 
    Le survol des éléments de navigation génère une barre bleue au dessus et le texte devient bleu également.
    La décoration de liens visités a été ajustée */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 126px;
}
.liste_nav{
    display: flex;
    text-align: center;
    font-size:large;
    margin-right: 77px;
}
.liste_nav a:visited{
    color: black;
    text-decoration: none;
}
.liste_nav a{
    text-decoration: none;
    font-size: 19px;
    padding-top: 48px;
    margin-left: 67px;
    color: #0065FC;
}
.liste_nav a:hover{
    border-top: 2px #0065FC solid;
    color: #0065FC;
    text-decoration: none;
}
p {
    color: black;
}
.container_outils_recherche{
    /* Ici on dispose le titre principal de la page et son texte associé, 
    puis les éléments de recherche; la barre de recherche par ville avec son champ de saisie,
    les filtres par catégorie puis les infos supplémentaires.
    Les boutons de catégorie de filtres affiche un fond de couleur différente au survol. 
    Les différents conteneurs sont disposés en colonne et les éléments contenus eux sont disposés en ligne. */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container_outils_recherche h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;

}
.container_outils_recherche p{
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    padding-top: 8px;
}
.container_barre_recherche{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 32px;
}
.bouton_geoloc{
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bouton_geoloc i{
    width:14px;
    height:18px;
}
.champ_recherche_ville {
    border: 1px #F2F2F2 solid;
    height:47px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bouton_recherche{
    background-color: #0065FC;
    height: 49px;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    border-color: #0065FC;
    color: white;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}
.bouton_recherche i {
    display: none;
}
.champ_recherche_ville p input {
    border:none;
    height:48px;
    margin:17px;
}
#lieu::placeholder{
    color:black;
    font-size: 18px;
    font-weight: bold;
}
.container_filtres{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 914px;
    padding-left: 7px;
    font-weight: 700;
}
.container_filtres h2{
    width: 54px;
    height: 21px;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
    padding-right: 42px;
}
.bouton_filtre {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    margin-left: 10px;
    border: 2px solid;
    border-color: #D9D9D9;
}
.boutons_filtre div p{
    font-size: 17px;
    font-weight: bold;
    line-height: 19.96px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.boutons_filtre div i{
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: -5px;
}
.fa-person {
    margin-right: 4.86px;
}
.bouton_filtre:hover {
    background-color: #DEEBFF;
}
.container_info_sup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 14px;
    padding-top: 25px;
}
.container_info_sup i{
    margin-right: 21px;
}
.section_articles_hebergements{
    /* Ici on dispose les 2 conteneurs "Hébergements à 'ville recherchée'" (ici Marseille pour l'exemple) 
    et "Les plus populaires" côte à côte, le second étant plus serré sur la droite. Les deux sont sur fond gris et disposes leurs éléments contenus en colonne.
    Les cartes contenues sont sur fond blanc avec un effet d'ombrage pour une meilleure lecture. 
    Toute les cartes accueillent un lien sur l'ensemble du conteneur "Card" (vide pour cette première version) vers la page du logement/activité en question.
    Pour ce faire nous avons besoin d'une position relative pour la carte et absolue pour le lien. */
    display: flex;
}
.section_hebergements_ville{
    /* Les cartes contenus sont disposées sur 2 lignes pour un affichage harmonieux. */
    width: 880px;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section_hebergements_ville h2{
    padding-left: 40px;
    margin-top: 42px;
    margin-bottom: 13px;
}
.bouton_afficher {
    margin-left: 44px;
} 
.articles_hebergements_ville {
    width: 800px;
    max-width: 800px;
    height: 428px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-self: center;
}
.container_articles_populaires {
    width: 420px;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.container_h2_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 37px;
    margin-right: 42px;
}
.articles_populaires {
    width: 343px;
    height: 498px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}
.card {
    /* Voici nos premières cartes, celles des logements recherchés par ville. 
    Toutes les cartes sont relativements similaires, mais les réglages varient un peu selon le conteneur pour mieux s'intégrer dans la mise en page.
    Pour celles-ci, On affiche le tout en colonne, en commençant par l'image du logement qui prendra toute la largeur disponible moins la marge, 
    suivi du titre du logement, du descriptif puis enfin de la notation réprésentées par des étoiles bleus et grise*/
    width: 246px;
    height: 199px;
    max-height: 199px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    position: relative;
}
.card > a,.card_pop > a,.card_activ > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.card img {
    width: 95%;
    max-height: 120px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    margin-top: 5px;
    margin-bottom: -5px;
    align-self: center;
}
.container_card_article_text {
    width: 246px;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    margin-left: 16px;
    line-height: 5px;

}
.card div h3 {
    margin-bottom: 0px;
}
.card_pop {
    /* Voici nos seconds type de carte, pour les logements du conteneur "les plus populaires". 
    Ici les différences avec les premières sont: image disposé sur le tiers gauche de la carte, 
    descriptif (titre + texte + notation) disposé sur les 2/3 de droite en colonne. */
    width: 343px;
    height: 144px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    position: relative;
}
.card_pop img {
    width: 95%;
    max-width: 129px;
    max-height: 136px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    justify-self: center;
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 15px;
}
.card_pop p {
    margin-top: -10px;
}
.container_article_pop_description {
    width: 66%;
}
.fa-solid {
    color: #0065FC;
}
.fas {
    color: #F2F2F2;
}
.container_activites {
    /* Ici nous changeons de section, mais nous utiliserons encore des cartes. Celles-ci seront disposés en ligne avec un espacement minimum entre chacune. */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card_activ {
    /* les cartes d'activités en question. Celles-ci sont un peu plus différente des précédentes. 
    L'image compose l'essentiel de la carte, et le descriptif ne contient qu'un simple titre */
    width: 302px;
    height: 444px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: white;
    font-size: small;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 20px;
}
.card_activ img {
    width: 100%;
    height: 389px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 0px;
}
.container_text_activ {
    margin-left: 19px;
    height: 56px;
    display: flex;
    align-items: flex-start;
}
.container_footer {
    /* Nous voici dans la dernière partie du site, le footer. 
    Ici nous avons 3 conteneurs disposés en ligne, avec une marge réglée pour un affichage non-centré, 
    disposés plutôt sur la gauche mais avec un espacement défini de manière à prendre l'essentiel de l'espace disponible.
    Les éléments contenus sont disposés quant à eux en colonne. Ces contenus sont composés d'un titre puis des liens (non fonctionnel pour cette version) */
    display: flex;
    justify-content: space-around;
    width: 1339px;
    height: 225px;
    font-size:small;
    background-color: #F2F2F2;
    margin-top: 60px;
}
.bloc_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
    margin-left: -190px;
}
.bloc_footer button {
    border: none;
    padding-bottom: 12px;
    margin-left: -5px;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
}
.fa-location-dot {
    color: black;
}
.fa-magnifying-glass {
    color: white;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Voici notre premier point de rupture, situé à 992px de largeur pour définir le passage en mode tablette. Ici la disposition comporte quelques changements:
    - Les conteneurs "Hébergements " et  "les plus populaires" sont disposés cette fois en colonne. 
    -Le conteneur "Les plus populaires dispose ses éléments en ligne.
    - La taille des cartes, des images et de la police d'écriture a été globalement réduite pour mieux correspondre à ce format. */
    .section_articles_hebergements{
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
        padding-top: 39px;
        width: 880px;
    }
    .section_hebergements_ville{
        margin-bottom: 53px;
    }
    .container_articles_populaires{
        width: 883px;
        height: 278px;
    }
    .articles_populaires {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .card_pop {
        width: 252px;
        height: 144px;
        font-size:smaller;
        margin-right: 23px;
    }
    .card_pop img{
        width: 102px;
    }
    .container_article_pop_description {
        line-height: 15px;
        padding-left: 5px;
        margin-top: -5px;
        height: 144px;        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card_activ {
        width: 182px;
        height: 267px;
        font-size: small;
    }
    .card_activ img{
        height: 211px;
    }
    .container_text_activ h3{
        height: 40px;
        justify-self: center;
    }
    .container_footer{
        width: 879px;
        height: 225px;
        display: flex;
        align-content: space-around;
    }
    .bloc_footer {
        margin-left: -50px;
        margin-top: 35px;
        font-size: smaller;
    }
    .bloc_footer button{
        font-size: small;
    }
}
@media screen and ( max-width: 768px) {
    /* Voici le second point de rupture situé à 768px. Ici on adapte le site à un format mobile.
    Les changements sont plus important ici. 
    Une attention particulière a été donnée à l'adaptabilité de la largeur des conteneurs/éléments/ espacements 
    pour mieux convenir aux différents tailles d'écrans possible.
    Voici la liste des changements:
    - Le header dispose son logo au centre tout en haut, et les liens de navigations en dessous. 
    Ceux-ci prennent chacun la moitié de l'écran et cette fois la barre bleue générée est située en dessous.
    - Dans le conteneur des outils de recherches, la barre de recherche est centrée, 
    et son bouton recherche comporte désormais un logo au lieu du mot "rechercher". 
    La largeur de cet élément est adaptée en conséquence.
    -Les boutons de filtres par catégorie sont cette fois disposé sur deux lignes, et centrés.
    - Le conteneur "Les plus populaires" est cette fois affiché avant "Hébergements", toujours en colonne.
    Les éléments contenus dans ces deux conteneurs sont tous disposés en colonne.
    - Les cartes ont vues leurs dimensions réajustées pour convenir au format.
    - Les cartes de la section Activité sont cette fois disposés en colonne.
    - Le footer est lui aussi disposé en colonne.
    -Les tailles de police, de conteneurs etc ont été globalement réajustés pour une meilleure lisibilité.*/
    .header{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 130px;
        padding-bottom: 30px;
    }
    .logo_booki{
        display: flex;
        justify-self: center;
        margin-top: 21px;
        margin-bottom: 40px;
        margin-left: 1%;
    }
    .bloc_nav{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-right: 0px;
        font-size: small;
    }
    .liste_nav{
        width: 100%;
    }
    .liens_nav {
        width: 100%;
        padding-bottom: 23px;
    }
    ul {
        width: 100%;
        padding-left: 0px;
    }
    .liste_nav a{
        margin-left: 0px;
    }
    .liens_nav a:hover{
        border-top: none;
    }
    .liens_nav:hover {
        border-bottom: 2px #0065FC solid;
    }
    .page {
        font-size: medium;
    }
    h1 {
        font-size: large;
    }
    .container_barre_recherche{
        width: 80%;
        display: flex;
        justify-content: center;
        padding-left: 10%;
    }
    .bouton_geoloc{
        width: 10%;
    }
    .bouton_recherche{
        width: 12%;
    }
    .bouton_recherche b{
        display: none;
    }
    .bouton_recherche i {
        display: inline;
    }
    .container_filtres {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 200px;
    }
    .boutons_filtre {
        width: 500px;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        padding-left: 130px;
    }
    .boutons_filtre div p{
        font-size: small;
    }
    .boutons_filtre div {
        width:160px;
    }
    .section_articles_hebergements {
        width: 90%;
        flex-direction: column-reverse;
        justify-content: center;
        margin-left: 15%;
    }
    .section_hebergements_ville {
        width: 80%;
        height: 1500px;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 0px;
        background-color: white;
        border-radius: 0px;
    }
    .section_hebergements_ville h2{
        width: 90%;
        margin-top: 26px;
        padding-bottom: 20px;
        justify-self: center;
    }
    .articles_hebergements_ville
    {
        width: 90%;
        height: 90%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .bouton_afficher {
        display: none;
    }

    .card {
        width: 100%;
        height: 200px;
    }
    .container_articles_populaires {
        width: 80%;
        height: 580px;
        flex-direction: column;
        border-radius: 0px;
    }
    .articles_populaires {
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
    }
    .card_pop {
        width: 100%;
        height: 144px;
        margin-right: 0px;
    }
    .container_article_pop_description {
        width: 55%;
    }
    .card_pop img {
        width: 150px;
    }
    .section_activités {
        flex-direction: column;
        width: 90%;
        height: 1100px;
        margin-left: 15%;
    }
    .section_activités h2 {
        width: 37%;
        align-self: center;
    }
    .container_activites {
        flex-direction: column;
        width: 80%;
        height: 1000px;
    }
    .card_activ {
        width: 100%;
        height: 190px;
    }
    .card_activ img {
        height: 134px;
    }
    .container_footer {
        flex-direction: column;
        align-content: flex-start;
        width: 90%;
        height: 600px;
        margin-left: 5%;
    }
    .bloc_footer {
        margin-left: 10%;
        margin-top: 0px;
        font-size: medium;
    }
    .bloc_footer button {
        font-size: medium;
    }


}