.page{
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    padding-left: 55px;
}
.logo_booki img{
    height: 19px;
    width: 61px;
    overflow:hidden;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 126px;
}
.liste{
    display: flex;
    text-align: center;
    font-size:large;
    margin-right:77px;
}
.bouton_nav a{
    font-size: 19px;
    padding-top: 48px;
    margin-left: 67px;
    color: #0065FC solid;
}
.bouton_nav a:hover{
    border-top: 2px #0065FC solid;
}
h1 {
    font-weight: bold
}
p {
    color: black;
}
.container_outils_recherche{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container_barre_recherche{
    display: flex;
    justify-content: flex-start;
}
.container_filtres{
    display: flex;
    justify-content: flex-start;
}
.bouton_geoloc{
    background-color: grey;
    width: 50px;
    height: 49px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px 10px; /* 25px rounded corners */
  }