.page{
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    padding-left: 55px;
}
.logo_booki img{
    height: 19px;
    width: 61px;
    overflow:hidden;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 126px;
}
.liste_nav{
    display: flex;
    text-align: center;
    font-size:large;
    margin-right: 77px;
}
.liste_nav a:visited{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: white ;
}
.liste_nav a{
    font-size: 19px;
    padding-top: 48px;
    margin-left: 67px;
    color: #0065FC solid;
}
.liste_nav a:hover{
    border-top: 2px #0065FC solid;
    color: #0065FC;
    text-decoration: none;
}
p {
    color: black;
}
.container_outils_recherche{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container_outils_recherche h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;

}
.container_outils_recherche p{
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    padding-top: 8px;
}
.container_barre_recherche{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 32px;
}
.bouton_geoloc{
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bouton_geoloc i{
    width:14px;
    height:18px;
}
.champ_recherche_ville {
    border: 1px #F2F2F2 solid;
    height:47px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bouton_recherche{
    background-color: #0065FC;
    height: 49px;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    border-color: #0065FC;
    color: white;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}
.champ_recherche_ville p input {
    border:none;
    height:21px;
    margin:17px;
}
#lieu::placeholder{
    color:black;
    font-size: 18px;
    font-weight: bold;
}
.container_filtres{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 914px;
    padding-left: 7px;
    font-weight: 700;
}
.container_filtres h2{
    width: 54px;
    height: 21px;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
    padding-right: 42px;
}
.boutons_filtre button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: #D9D9D9;
    border-radius: 25px;
    height: 50px;
    margin-left: 10px;
}
.boutons_filtre button p{
    font-size: 17px;
    font-weight: bold;
    line-height: 19.96px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.boutons_filtre button i{
    color: #0065FC;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: -5px;
}
.fa-person {
    margin-right: 4.86px;
}
.container_filtres button:hover {
    background-color: #DEEBFF;
}
.container_info_sup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 14px;
    padding-top: 25px;
}
.container_info_sup i{
    color: #0065FC;
    margin-right: 21px;
}
.section_articles_hebergements{
    display: flex;
}
.section_hebergements_ville{
    width: 880px;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: -5px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section_hebergements_ville h2{
    padding-left: 40px;
}
.articles_hebergements_ville {
    width: 800px;
    height: 428px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-self: center;
}
.card {
    width: 246px;
    height: 199px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px 10px; /* 25px rounded corners */
  }